services:
  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - client
      - server

  server:
    build:
      context: .
      dockerfile: splendor-server/Dockerfile
    volumes:
      - splendor-data:/data
    environment:
      - SPLENDOR_DB_PATH=/data/splendor.db
      - SPLENDOR_PORT=8080

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    depends_on:
      - server

volumes:
  splendor-data:
